<!DOCTYPE html>
<!-- Add new topics page -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Jake's Forum's - Add a new topic</title>
</head>
<body>
  <h1>Create your topic</h1>
  <form action="/topics/new" method="POST">
    <label>
      Title:</br>
      <input type="text" name="title"/></label></br>
    </label>
    <label>
      Author:</br>
      <input type="text" name="author"/></br>
    </label>
    <label>
      Body:</br>
      <TEXTAREA type="text" name="body" ROWS="10" COLS="25"/>
      </TEXTAREA>
    </label></br>
    <button>Submit Topic Discussion</button>
  </form>
  </body>
  </html>