<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Jake's Forum's - Add a new topic</title>
</head>
<body>
  <h1>Create your topic</h1>
  <form action="/topics/new" method="POST">
    
    <label>
      Title:
      <input type="text" name"title"/>
    </label>

    <label>
      Author:
      <input type="text" name "author"/>
    </label>

    <label>
      Body:
      <input type="text" name "author"/>
    </label>

    <button>Submit Topic Discussion</button>
  </form>
</body>
</html>